<%- include("header") -%>

<div>
    <h2>This is the about page.</h2>
</div>

<div>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque blanditiis fugit, iste soluta delectus amet dolore quasi vitae similique itaque est doloribus culpa recusandae voluptate. Error dolor quaerat quos officiis?
    </p>
</div>

<div>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsam dolore laboriosam ea culpa. Recusandae doloremque voluptatum iusto nobis, omnis quibusdam soluta unde ea minima. In excepturi totam laboriosam voluptates!
    </p>
</div>



<%- include("footer") -%>